mixin about(vars)
  +b.IMG.overlay(src="/images/about-bg-1.jpg" alt="bg")
  +b.top-content
    +e.inner.inner_middle
      +e.box
        +e.H1.title о компании
        +e.P.subtitle Основным направлением деятельности является реализация фасованной 
          u химического сырья 
          | технической и реактивной квалификации. У нас вы можете приобрести 
          u серную
          |, 
          u соляную
          |, 
          u азотную кислоты
          |, 
          u раствор натра едкого
          |, 
          u аммиачную воду
          |, 
          u гипохлорит натрия
          |. Варианты упаковки - налив, канистры, кубы.
        .shadow
  +b.about
    +e.inner.inner_middle
      +e.P.title Наши преимущества
      +e.list
        +e.item
          +e.IMG.pic(src='/icon/icon-abt-1.svg' alt='')
          +e.P.text Местоположение склада
        +e.item
          +e.IMG.pic(src='/icon/icon-abt-2.svg' alt='')
          +e.P.text Постоянное наличие сырья на складе (сформированный товарный запас)
        +e.item
          +e.IMG.pic(src='/icon/icon-abt-3.svg' alt='')
          +e.P.text Минимальная партия от 1 Тн, в том числе и ассортиментом
        +e.item
          +e.IMG.pic(src='/icon/icon-abt-4.svg' alt='')
          +e.P.text Доставка во все регионы РФ
        +e.item
          +e.IMG.pic(src='/icon/icon-abt-5.svg' alt='')
          +e.P.text Отгрузка в течение 3 рабочих дней с момента поступления заявки
        +e.item
          +e.IMG.pic(src='/icon/icon-abt-6.svg' alt='')
          +e.P.text Все допустимые виды упаковок (канистры / кубовые емкости / бочки) для транспортировки и хранения реагентов
        +e.item
          +e.IMG.pic(src='/icon/icon-abt-7.svg' alt='')
          +e.P.text Ценообразование в прямой зависимости от объёма выборки, причём, не разовой отгрузки (одной партии), а либо квартального, либо годового объёма
        +e.item
          +e.IMG.pic(src='/icon/icon-abt-8.svg' alt='')
          +e.P.text Наличие лицензии на вид деятельности
    .shadow