+b.modal(data-type="#callback")
  +e.container
    +e.BUTTON.close
    +e.FORM.action
      +e.P.title Заказать звонок
      +e.group
        +e.P.name Имя
        +e.INPUT.field(type="text" placeholder="Ваше имя")
      +e.group
        +e.P.name Телефон
        +e.INPUT.field(type="tel" placeholder="Ваш телефон")
+b.modal(data-type="#buy")
  +e.container
    +e.BUTTON.close
    +e.FORM.action
      +e.P.title Быстрый заказ
      +e.group
        +e.P.name Имя
        +e.INPUT.field(type="text" placeholder="Ваше имя")
      +e.group
        +e.P.name Телефон
        +e.INPUT.field(type="tel" placeholder="Ваш телефон")