include ../../../bemto/bemto
include _head

include ../../modules/header/header
include ../../modules/banner/banner
include ../../modules/catalog/catalog
include ../../modules/product/product
include ../../modules/index/index
include ../../modules/footer/footer
