.banner
  position: relative
  color: #fff
  &__prlx
    position: relative
    overflow: hidden
    width: 100vw
  &_bg
    vertical-align: middle
  &__bg-move
    position: absolute
    vertical-align: middle
    top: 0
    left: 0
    display: none
  &__tools
    position: absolute
    vertical-align: middle
    bottom: 9.5vw
    left: 57vw
  &__content
    position: absolute
    bottom: 15rem
    width: 100%
  &__inner
    position: relative
    padding: 0 10rem
  &__title
    max-width: 630px
    margin-bottom: 2rem
  &__btn
    margin-top: 2rem
  &__vnt
    display: flex
    justify-content: flex-end
    align-items: center
    position: absolute
    bottom: 0
    right: 10rem
  &__item
    display: flex
    align-items: center
    margin-left: 4rem
  &__caption
    font-weight: 700
    line-height: 1.2
    margin-left: 1.4rem
  &__pic
    vertical-align: middle