.map
  border-radius: 0px 0px 30px 30px
  &__pic
    width: 100%
    vertical-align: middle
    border-radius: 0px 0px 30px 30px
.footer
  background: #3B4357
  padding: 8rem 0 4rem
  margin-top: -30px
  &__inner
    display: flex
    justify-content: space-between
    align-items: flex-start
    // transform: scale(0)
    // opacity: 0
    // transition: .5s linear
  &__sign
    margin-top: 3.5rem
    font-size: 11px
    font-weight: 600
    color: #fff
    max-width: 155px
  &__copy
    margin-top: 3.5rem
    font-size: 11px
    font-weight: 600
    color: #BCBCBC
  &__title
    font-weight: 600
    color: #BCBCBC
    margin-bottom: 2rem
  &__item
    margin-bottom: 1.5rem
  &__link
    font-weight: 700
    color: #fff
  &__nav
    display: flex
    align-items: flex-start
  &__phone
    font-weight: 700
    +fs(23px)
    transition: .5s ease
    line-height: 1
    margin-bottom: 1rem
    display: block
    color: #fff
    &:hover
      color: $c2
  &__mail
    color: #fff
    font-weight: 700
    +fs(16px)
    transition: .5s ease
    line-height: 1
    margin-bottom: 1rem
    color: $c3
    &:hover
      color: $c2
  &__col
    margin-right: 5rem
    &:last-of-type
      margin-right: 0

.social
  display: flex
  &__icon
    width: 34px
    vertical-align: middle
  &__link
    padding-right: 1rem