mixin index(vars)
  +b.callback_1
    +e.inner.inner
      +e.H2.title Бесплатная консультация агронома
      +e.P.subtitle Наш специалист бесплатно проконсультирует, что выбрать
        br
        | конкретно под ваши цели
      +e.info
        +e.contacts
          +e.P.cnt-title Телефон
          +e.A.cnt(href="tel:") +7 (495) 556-22-32
        +e.BUTTON.btn.btn Заказать замер
      +e.P.sign Оставляя заявку, Вы соглашаетесь с 
        a(href="#")   политикой конфиденциальности
  +b.vnt
    +e.inner.inner
      +e.H2.title Большой опыт работы и знание рынка
      +e.wrap
        +e.P.content Наш агроном поможет вам в выборе продукции для эффективной защиты вашего урожая
        +e.P.sign Наша компания работает на рынке сельского хозяйства уже более 15 лет. Если при выборе продукции у вас возникли затруднения, вы всегда можете рассчитывать на помощь и консультацию наших специалистов.
  +b.brands
    +e.inner.inner
      +e.H2.title Бренды, с которыми мы работаем
      +e.list
        +e.A.item(href="#")
          +e.SVG.icon(fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 62 62')
            path(d='M30.78 3.45a27.46 27.46 0 1 0 0 54.92 27.46 27.46 0 0 0 0-54.92Zm0-3.33A30.78 30.78 0 1 1 0 30.92 30.78 30.78 0 0 1 30.78.16' fill='#000')
            path(d='M16.23 30.69a2.64 2.64 0 0 0-2.46-2.82h-1.4v5.63h1.01a2.65 2.65 0 0 0 2.82-2.81h.03Zm18.33 2.02-7.58 5.96-7-5.49a6.68 6.68 0 0 1-6.17 4.06H7.87V24.06h5.94a6.63 6.63 0 0 1 6.17 4.08l6.95-5.46 2.58 2.02-6.33 5.05 1.22.94 6.37-5.01 2.57 2.02-6.36 5.01 1.22.94 6.37-5v-4.6h4.62v9.4h4.6v3.8h-9.23v-4.54Zm15.02.73h4.6v3.82h-9.23v-13.2h4.63v9.39-.01Z' fill='#000')
        +e.A.item(href="#")
          +e.SVG.icon(fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 103 32')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M63.31 24.6c-5.92 4.38-14.48 6.68-21.93 6.68A39.74 39.74 0 0 1 14.6 21.06c-.55-.5-.05-1.2.62-.8a53.97 53.97 0 0 0 26.8 7.1 53.18 53.18 0 0 0 20.45-4.18c1-.36 1.87.7.85 1.43Z' fill='#000')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M65.78 21.8c-.76-.95-5.01-.47-6.92-.24-.58.07-.67-.44-.15-.8 3.4-2.39 8.96-1.7 9.6-.94.65.76-.17 6.38-3.35 9.04-.49.41-.94.19-.74-.35.71-1.78 2.32-5.79 1.56-6.76v.04ZM59.01 3.91v-2.3a.57.57 0 0 1 .55-.6H69.9a.58.58 0 0 1 .6.56v2.01c-.13.55-.4 1.05-.78 1.46l-5.38 7.68c2.06-.11 4.1.33 5.93 1.27a1.08 1.08 0 0 1 .54.94v2.47c0 .33-.36.73-.76.52a11.96 11.96 0 0 0-10.96 0c-.37.2-.75-.2-.75-.53v-2.36c-.03-.56.1-1.11.39-1.6l6.23-8.94h-5.42a.58.58 0 0 1-.6-.56l.08-.02ZM21.12 18.38h-3.16a.6.6 0 0 1-.57-.53V1.64a.58.58 0 0 1 .6-.58h2.96a.6.6 0 0 1 .57.54v2.16h.08a4.18 4.18 0 0 1 4.16-3c1.97 0 3.21.94 4.1 3a4.7 4.7 0 0 1 8.01-1.23c1 1.36.8 3.35.8 5.08v10.24a.6.6 0 0 1-.6.58H34.9a.6.6 0 0 1-.57-.58V9.2a20.6 20.6 0 0 0-.1-3.04 1.64 1.64 0 0 0-1.87-1.4 2.11 2.11 0 0 0-1.88 1.33 9.9 9.9 0 0 0-.29 3.1v8.65a.6.6 0 0 1-.6.58h-3.15a.6.6 0 0 1-.57-.58V9.2c0-1.81.3-4.47-1.94-4.47-2.25 0-2.19 2.6-2.19 4.47v8.64a.6.6 0 0 1-.61.58l-.02-.05ZM79.53 4.04c-2.33 0-2.48 3.17-2.48 5.15 0 1.98 0 6.2 2.45 6.2s2.56-3.4 2.56-5.48c.05-1.45-.1-2.9-.47-4.3a1.97 1.97 0 0 0-2.06-1.57Zm0-3.31c4.7 0 7.22 4.03 7.22 9.15 0 4.94-2.82 8.86-7.22 8.86-4.6 0-7.11-4.02-7.11-9.03 0-5.02 2.53-9 7.1-9v.02ZM92.81 18.38h-3.14a.6.6 0 0 1-.61-.53V1.58a.58.58 0 0 1 .6-.52h2.93a.58.58 0 0 1 .56.45v2.48h.06C94.15 1.77 95.33.7 97.5.7a4.14 4.14 0 0 1 3.69 1.88c.83 1.3.83 3.47.83 5.04v10.22a.59.59 0 0 1-.6.5h-3.17a.58.58 0 0 1-.56-.5V9.07c0-1.78.2-4.37-1.98-4.37A2.07 2.07 0 0 0 93.9 6c-.39.97-.56 2.02-.5 3.07v8.78a.6.6 0 0 1-.61.58l.02-.05ZM53.9 18.34a.67.67 0 0 1-.75.08 7.78 7.78 0 0 1-1.8-2.11 6.27 6.27 0 0 1-5.21 2.3c-2.66 0-4.7-1.65-4.7-4.92a5.36 5.36 0 0 1 3.37-5.17 20.34 20.34 0 0 1 5.95-1.1v-.4a4.1 4.1 0 0 0-.39-2.29 2.14 2.14 0 0 0-1.77-.83 2.4 2.4 0 0 0-2.54 1.88.66.66 0 0 1-.55.58l-3.06-.33a.55.55 0 0 1-.48-.62v-.04c.7-3.71 4.05-4.84 7.06-4.84 1.72-.06 3.41.5 4.76 1.58 1.53 1.44 1.39 3.35 1.39 5.44v4.94c0 1.08.42 2.12 1.16 2.9a.6.6 0 0 1 0 .84c-.64.55-1.8 1.54-2.42 2.1l-.02.02Zm-3.2-7.72a6.13 6.13 0 0 1-.58 3.34 2.57 2.57 0 0 1-2.19 1.44c-1.21 0-1.88-.94-1.88-2.3 0-2.68 2.41-3.17 4.7-3.17v.69h-.04ZM12.5 18.34a.66.66 0 0 1-.75.08 7.65 7.65 0 0 1-1.81-2.11 6.27 6.27 0 0 1-5.24 2.3c-2.66 0-4.7-1.65-4.7-4.92a5.38 5.38 0 0 1 3.36-5.17 20.34 20.34 0 0 1 5.95-1.1v-.4c.1-.8-.05-1.6-.41-2.32a2.14 2.14 0 0 0-1.78-.82A2.4 2.4 0 0 0 4.6 5.75a.66.66 0 0 1-.56.59L.97 6a.55.55 0 0 1-.48-.62C1.2 1.63 4.55.55 7.55.55c1.73-.06 3.42.5 4.76 1.58 1.54 1.44 1.4 3.35 1.4 5.44v4.92c0 1.09.43 2.14 1.19 2.93a.6.6 0 0 1 0 .83c-.65.55-1.8 1.54-2.43 2.1h.02Zm-3.2-7.72a6.13 6.13 0 0 1-.58 3.34 2.55 2.55 0 0 1-2.14 1.46c-1.22 0-1.88-.93-1.88-2.29 0-2.68 2.41-3.17 4.7-3.17v.66h-.1Z' fill='#000')
        +e.A.item(href="#")
          +e.SVG.icon(fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 64')
            path(d='M25.57 44.64 31.85 9.3c5.98 0 7.87.66 8.14 3.34 0 0 4.02-1.5 6.05-4.54A44.4 44.4 0 0 0 30.2 4.28l-4.64 5.63-4.63-5.63c-5.47.3-10.83 1.6-15.83 3.85 2.03 3.04 6.04 4.53 6.04 4.53.28-2.67 2.16-3.33 8.1-3.34l6.33 35.32Z' fill='#000')
            path(d='M25.57 2.67c7.28-.07 14.5 1.4 21.18 4.3.5-.83.92-1.7 1.26-2.6a59.77 59.77 0 0 0-44.88 0c.36.9.78 1.76 1.26 2.6a52 52 0 0 1 21.18-4.25v-.05ZM12.41 58.61h4.78a1.78 1.78 0 0 0 1.3-1.29h-7.37a1.8 1.8 0 0 0 1.3 1.29ZM12.41 61.14h4.78a1.78 1.78 0 0 0 1.3-1.29h-7.37a1.8 1.8 0 0 0 1.3 1.29ZM12.41 63.77h4.78a1.75 1.75 0 0 0 1.3-1.28h-7.37a1.76 1.76 0 0 0 1.3 1.28ZM43.22 58.61H48a1.74 1.74 0 0 0 1.3-1.29h-7.38a1.78 1.78 0 0 0 1.3 1.29ZM.03 57.33a1.8 1.8 0 0 0 1.27 1.28h2.1v5.16h1.27v-5.16h2.12a1.88 1.88 0 0 0 1.3-1.28H0h.03ZM38.35 63.77a1.77 1.77 0 0 0 1.12-1.3h-5.64v-5.15h-1.22v6.45h5.74ZM23.32 58.61h4.42a1.88 1.88 0 0 0 1.4-1.26h-7.06v3.76h5.74v1.33h-4.5a2.57 2.57 0 0 0-1.61 1.36h7.34v-3.95h-5.73v-1.24ZM42.11 59.86v3.88h1.24v-2.59h4.53v2.59h1.25v-3.87l-7.02-.01Z' fill='#000')
        +e.A.item(href="#")
          +e.SVG.icon(fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 104 35')
            path(d='M44 18.89a8.54 8.54 0 1 1-8.55-8.55 8.45 8.45 0 0 1 8.54 8.55Zm-3.67 0a4.8 4.8 0 1 0-9.58 0 4.8 4.8 0 1 0 9.58 0Z' fill='#000')
            path(d='M62.49 18.89a8.55 8.55 0 1 1-8.54-8.55 8.45 8.45 0 0 1 8.54 8.55Zm-3.76 0a4.8 4.8 0 1 0-9.57 0 4.8 4.8 0 1 0 9.57 0ZM80.14 10.81v15.3c0 6.3-3.75 8.83-8.07 8.83a8.1 8.1 0 0 1-7.6-5.07l3.33-1.31a4.62 4.62 0 0 0 4.32 3c2.81 0 4.5-1.69 4.5-4.97v-1.13h-.1a5.83 5.83 0 0 1-4.5 1.97 8.5 8.5 0 0 1 0-17 6.12 6.12 0 0 1 4.5 1.88h.1v-1.4l3.57-.1h-.05Zm-3.28 8.08c0-3-1.97-5.17-4.51-5.17a5.18 5.18 0 0 0 0 10.33c2.54 0 4.5-2.16 4.5-5.16ZM86.06 1.9v24.97H82.4V1.89h3.66ZM100.24 21.61l2.9 1.97a8.45 8.45 0 0 1-7.13 3.76 8.32 8.32 0 0 1-8.45-8.55c0-5.07 3.66-8.54 8.08-8.54 4.41 0 6.57 3.57 7.32 5.45l.38.93-11.36 4.7a4.7 4.7 0 0 0 8.26.28Zm-8.92-3 7.6-3.2a3.31 3.31 0 0 0-3.19-1.78 4.7 4.7 0 0 0-4.41 4.98ZM13.1 16.63v-3.66h12.2c.14.72.21 1.44.24 2.16a12 12 0 0 1-3.1 8.45 12.02 12.02 0 0 1-9.2 3.76 13.24 13.24 0 1 1 0-26.48 12.7 12.7 0 0 1 9.1 3.66l-2.53 2.54a9.6 9.6 0 1 0-6.57 16.71 8.85 8.85 0 0 0 6.67-2.63 7.46 7.46 0 0 0 1.97-4.5H13.1Z' fill='#000')
        +e.A.item(href="#")
          +e.SVG.icon(fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 94 44')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M60.85 2.7V.26h-9.73v13.36h9.73v-2.2h-7.02V7.79h6.15V5.4h-6.15V2.7h7.02ZM58.14 15v5.13h-5.32V15h-2.75v13.3h2.75v-5.96h5.32v5.96h2.7V15h-2.7ZM60.85 32.07v-2.39h-9.73v13.54h9.73V40.8h-7.02v-3.58h6.15v-2.2h-6.15v-2.94h7.02ZM49.56.26h-2.7V5.4h-5.33V.26h-2.7v13.36h2.7V7.65h5.33v5.97h2.7V.26ZM27.17.26V2.7h4.13v10.92H34V2.7h4.13V.26H27.17ZM18.63 14.63c-4.27 0-6.52 2.43-6.52 7.02 0 4.82 2.25 7.2 6.52 7.2s6.47-2.38 6.47-7.2c0-4.59-2.2-7.02-6.47-7.02Zm-3.56 6.99c0-3.08 1.2-4.6 3.58-4.6 2.57 0 3.75 1.52 3.75 4.6 0 3.25-1.19 4.81-3.75 4.81-2.4 0-3.58-1.57-3.58-4.81ZM8.22 15v9.4L2.89 15H0v13.3h2.56v-9.36l5.47 9.36h2.9V15H8.21ZM20.84 35.18v-3.11h6.83v-2.39h-9.55v13.54h2.72v-5.64h6v-2.4h-6ZM49.05 17.38V15H38.13v2.38h4.09V28.3h2.75V17.38h4.08ZM32.12 23.21a2.54 2.54 0 0 1 1.88.5l.5 4.6h3.1v-.33c-.32-.18-.5-1-.5-2.57 0-1.88-.7-2.88-1.7-3.39a3.1 3.1 0 0 0 2.07-3.26c0-2.38-1.38-3.75-4.28-3.75h-6.71v13.3h2.75v-5.1h2.9Zm-2.89-2.25v-3.57h3.4c1.37 0 2.07.5 2.07 1.7s-.7 1.88-2.21 1.88l-3.26-.01ZM34 29.68h-3.26l-4.77 13.53h2.9l1.05-2.94h4.95l.86 2.94h2.91L34 29.68Zm-1.7 3.08 1.7 5.29h-3.39l1.7-5.29ZM47.33 34.13h2.7a5.08 5.08 0 0 0-1.33-3.07 6.57 6.57 0 0 0-6.88-1.23c-.76.32-1.46.8-2.03 1.41a7.78 7.78 0 0 0-1.7 5.15c0 4.77 2.02 7.15 5.98 7.15 3.43 0 5.31-1.7 5.96-4.96h-2.7a2.99 2.99 0 0 1-3.08 2.39c-2.25 0-3.26-1.51-3.26-4.45 0-3.21 1.01-4.77 3.26-4.77 1.5 0 2.38.87 3.08 2.38ZM13.3 43.03c.41 0 .8-.14 1.1-.4.28-.32.43-.73.42-1.15a1.52 1.52 0 0 0-.42-1.15c-.29-.25-.66-.4-1.05-.4a1.31 1.31 0 0 0-1.5 1.5c-.02.4.11.8.36 1.1a1.52 1.52 0 0 0 1.14.42l-.04.08Zm0 .37a1.97 1.97 0 0 1-1.42-.54 1.88 1.88 0 0 1-.45-1.34 1.63 1.63 0 0 1 1.88-1.88 1.78 1.78 0 0 1 1.33.46 1.94 1.94 0 0 1-1.33 3.3Zm.22-2.06c.19 0 .28-.1.28-.33h-.78v.46l.5-.13Zm.32.31.37.46a.2.2 0 0 1 0 .23.2.2 0 0 1-.28 0l-.46-.64h-.4v.5a.2.2 0 0 1-.2.19.2.2 0 0 1-.17-.2v-1.54a.2.2 0 0 1 .17-.18h.74a.62.62 0 0 1 .46.13s.09 0 .09.1a.3.3 0 0 1 .1.27c0 .37-.1.55-.37.65M62.73.26a30.05 30.05 0 0 1 21.9 9.1 30.05 30.05 0 0 1 9.22 22.12V43.2H81.36v-12.2a16.65 16.65 0 0 0-5.13-12.3 16.48 16.48 0 0 0-12.1-4.96h-1.39V.26ZM80.2 43.21h-9.7v-9.39a4.9 4.9 0 0 0-1.56-3.75 5.17 5.17 0 0 0-3.75-1.56h-2.39V15.04h1.38a15.1 15.1 0 0 1 9.4 3.08c.7.4 1.33.91 1.87 1.51a15.46 15.46 0 0 1 4.75 11.43v12.15Zm-17.44 0V29.68h2.42a4.08 4.08 0 0 1 4.13 4.02v9.51h-6.55Z' fill='#000')
        +e.A.item(href="#")
          +e.SVG.icon(fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 77 52')
            path(d='M75.7 41.72H72.4c-.04-.42-.21-.83-.5-1.15a2.43 2.43 0 0 0-1.78-.55c-.6-.05-1.21.1-1.72.42a1.12 1.12 0 0 0-.37.84c0 .5.7.94 2.09 1.22 1.15.24 2.28.53 3.4.88l.46.18a3.2 3.2 0 0 1 2.1 3.03 3.82 3.82 0 0 1-2.04 3.6l-.52.26c-.97.39-2 .58-3.06.56a8.45 8.45 0 0 1-4.18-.94 4.08 4.08 0 0 1-1.5-1.45 4.21 4.21 0 0 1-.51-2.08h3.48a1.65 1.65 0 0 0 .64 1.39c.65.39 1.4.56 2.16.5.6.05 1.22-.12 1.72-.48a1.04 1.04 0 0 0 .44-.85c0-.53-.69-.94-2.06-1.25-1.3-.24-2.6-.59-3.84-1.05a3.2 3.2 0 0 1-2.08-3.06 4.02 4.02 0 0 1 1.09-2.81 5.4 5.4 0 0 1 4.1-1.46 8.6 8.6 0 0 1 3.6.64l.23.12c.62.32 1.13.8 1.47 1.4.35.65.52 1.37.5 2.1ZM74.2 33.27a.54.54 0 0 1 .06.54.69.69 0 0 1-.57.39c.06.02.12.06.17.1l.32.43.25.42h-.4l-.2-.35a1.51 1.51 0 0 0-.33-.45h-.04l-.27-.07h-.21v.94h-.33V33h.86c.14 0 .28.02.42.06.11.03.2.1.28.2l-.01.01Zm-.28.35c0-.06-.01-.13-.05-.18a.22.22 0 0 0-.14-.11h-.75v.65h.52c.12 0 .23-.03.31-.1a.25.25 0 0 0 .1-.22v-.04Z' fill='#000')
            path(d='M75.51 34.06c0 .33-.1.66-.27.94a1.7 1.7 0 0 1-.72.73 2 2 0 0 1-.99.27c-.33-.01-.65-.1-.94-.27a1.67 1.67 0 0 1-.73-.73 2.03 2.03 0 0 1 0-1.99c.17-.31.43-.56.74-.73.3-.16.61-.25.94-.27.33 0 .66.1.94.27.32.16.58.41.74.73.2.31.3.68.3 1.05Zm-.37 0a1.64 1.64 0 0 0-1.64-1.67c-.3.02-.6.1-.85.26a1.7 1.7 0 0 0-.84 1.46c0 .29.08.57.22.82.16.23.37.42.62.54a1.6 1.6 0 0 0 1.63 0 1.62 1.62 0 0 0 .83-1.43l.03.02ZM65.44 33.54h-15.1L34.57 7.25 45.64.6l19.8 32.94ZM59.74 43.7a3.76 3.76 0 0 0-6.32-1.92 3.76 3.76 0 0 0 5.03 5.55 3.76 3.76 0 0 0 1.29-2.17V43.7Zm3.13 7.13h-3.13v-.71a6.8 6.8 0 1 1 0-11.42v-.74h3.13v12.87ZM45.1 43.7a3.76 3.76 0 0 0-6.33-1.92 3.76 3.76 0 0 0 5.03 5.55 3.76 3.76 0 0 0 1.3-2.17V43.7Zm3.09.69v6.42h-3.1v-.7a6.8 6.8 0 1 1 0-11.42v-5.15h3.15v10.85h-.05ZM41.36 27.38l3.7 6.16h-15.1l-8.74-14.55.37-.22 10.72-6.46 9.05 15.07ZM29.98 37.61h3.4v13.22h-3.4V37.61ZM25.3 45.12V43.7a3.76 3.76 0 1 0-.01 1.46v-.04Zm3.12-.73v6.42H25.3v-.7a6.8 6.8 0 1 1 0-11.42v-5.15h3.11v10.85h.01ZM21.59 28.39l3.09 5.15H9.58l-1.7-2.83 11.1-6.66 2.6 4.34ZM10.48 43.7a3.76 3.76 0 1 0 0 1.46V43.7Zm3.12 7.11h-3.12v-.7a6.8 6.8 0 1 1 0-11.42v-.73h3.12V50.8Z' fill='#000')
        +e.A.item(href="#")
          +e.SVG.icon(fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 92 46')
            path(d='M21.84 2.28a19.96 19.96 0 0 1 16.9.2 19.48 19.48 0 0 1 8.63 8.11c-1.2.62-2.43 1.21-3.64 1.82a18.36 18.36 0 0 0-24.09-7.5A19.61 19.61 0 0 0 13 10.53a20.1 20.1 0 0 1 8.81-8.2l.04-.06Z' fill='#000')
            path(d='M18.11 13.18a14.36 14.36 0 0 1 11.9-6.72 13.9 13.9 0 0 1 11.88 6.88l-3.63 1.8a12.7 12.7 0 0 0-10.52-6.17 13.03 13.03 0 0 0-9.63 4.21Z' fill='#000')
            path(d='M7.52 11.05c7.51 3.76 15 7.51 22.46 11.27l22.46-11.27v3.17L29.98 25.49 7.52 14.22v-3.17Z' fill='#000')
            path(d='M23.59 15.95c1.38-1.87 3.39-3.55 5.83-3.7a7.51 7.51 0 0 1 6.98 3.83l-3.63 1.75a6.69 6.69 0 0 0-5-3.2 6.47 6.47 0 0 0-4.18 1.32ZM70.27 24.93h4.7v19.9h-4.7v-19.9Zm-22.54 0h4.7v3.6h-4.7v-3.6Zm-32.16 5.44h4.7v8.59a2.18 2.18 0 0 0 1.55 2.38 2.64 2.64 0 0 0 3.35-2.31c.17-2.87 0-5.74.08-8.6h4.7v14.45h-4.56v-2.03a5.8 5.8 0 0 1-8.5 1.01 6.76 6.76 0 0 1-1.34-4.35V30.4l.02-.03Zm32.15 0h4.7v14.47h-4.7V30.37Zm43.6 8.37c.16-2.3-.53-4.59-1.95-6.42-2.81-3.18-8.2-3.08-11.15-.2a8 8 0 0 0-.2 10.99c2.38 2.28 6.13 2.62 9.14 1.55a6.33 6.33 0 0 0 3.92-4.19h-4.37a3.35 3.35 0 0 1-5.1.72 4.4 4.4 0 0 1-1.02-2.44h10.73Zm-10.7-2.65c.16-.73.48-1.42.93-2.01a2.82 2.82 0 0 1 3.86-.35 3.9 3.9 0 0 1 1.21 2.35h-6ZM41.24 24.93v7.02a5.63 5.63 0 0 0-7.6-.94 7.51 7.51 0 0 0-2.68 5.69 9.56 9.56 0 0 0 1.88 6.49 5.93 5.93 0 0 0 6.3 1.77 5.63 5.63 0 0 0 2.4-1.88v1.71h4.48V24.87l-4.78.06Zm-.35 15.33a2.6 2.6 0 0 1-4.11.65 5.4 5.4 0 0 1-1.08-4 3.54 3.54 0 0 1 1.78-3.11 2.61 2.61 0 0 1 3.34 1.08 6.57 6.57 0 0 1 .07 5.38Zm25.99-8.88a5.63 5.63 0 0 0-7.96.47l-.1.12v-7.04h-4.7v19.9h4.53v-1.7c.65.86 1.52 1.51 2.53 1.89a5.97 5.97 0 0 0 5.7-1.4 8.79 8.79 0 0 0 2.25-6.13 8.06 8.06 0 0 0-2.25-6.1Zm-2.53 7.03a4.23 4.23 0 0 1-1.16 2.63 2.63 2.63 0 0 1-3.93-.62 6.82 6.82 0 0 1-.57-3.45 3.47 3.47 0 0 1 1.88-3.23 2.6 2.6 0 0 1 2.93.7 5.4 5.4 0 0 1 .83 3.97h.02Zm-50.26-.86c-.08-1.69.27-3.48-.5-5.06-.75-1.58-2.56-2.24-4.2-2.45-2.32-.23-4.87-.22-6.92 1.08a4.77 4.77 0 0 0-2.01 3.65h4.34c.3-.63.6-1.37 1.32-1.61a3.3 3.3 0 0 1 3 .36 1.26 1.26 0 0 1-.38 2.2c-2.08.55-4.34.43-6.35 1.3a3.64 3.64 0 0 0-2.29 2.75 5 5 0 0 0 .74 3.84 5.32 5.32 0 0 0 4.63 1.6 6.78 6.78 0 0 0 4.2-1.7l.25 1.32h4.7c-.83-2.35-.42-4.87-.52-7.32v.04ZM9 41.31c-.72 1.1-2.28 1.2-3.42.82a1.63 1.63 0 0 1-.1-2.89c1.29-.64 2.81-.68 4.14-1.13.05 1.1-.16 2.2-.62 3.2Z' fill='#000')
        +e.A.item(href="#")
          +e.SVG.icon(fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 103 32')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M63.31 24.6c-5.92 4.38-14.48 6.68-21.93 6.68A39.74 39.74 0 0 1 14.6 21.06c-.55-.5-.05-1.2.62-.8a53.97 53.97 0 0 0 26.8 7.1 53.18 53.18 0 0 0 20.45-4.18c1-.36 1.87.7.85 1.43Z' fill='#000')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M65.78 21.8c-.76-.95-5.01-.47-6.92-.24-.58.07-.67-.44-.15-.8 3.4-2.39 8.96-1.7 9.6-.94.65.76-.17 6.38-3.35 9.04-.49.41-.94.19-.74-.35.71-1.78 2.32-5.79 1.56-6.76v.04ZM59.01 3.91v-2.3a.57.57 0 0 1 .55-.6H69.9a.58.58 0 0 1 .6.56v2.01c-.13.55-.4 1.05-.78 1.46l-5.38 7.68c2.06-.11 4.1.33 5.93 1.27a1.08 1.08 0 0 1 .54.94v2.47c0 .33-.36.73-.76.52a11.96 11.96 0 0 0-10.96 0c-.37.2-.75-.2-.75-.53v-2.36c-.03-.56.1-1.11.39-1.6l6.23-8.94h-5.42a.58.58 0 0 1-.6-.56l.08-.02ZM21.12 18.38h-3.16a.6.6 0 0 1-.57-.53V1.64a.58.58 0 0 1 .6-.58h2.96a.6.6 0 0 1 .57.54v2.16h.08a4.18 4.18 0 0 1 4.16-3c1.97 0 3.21.94 4.1 3a4.7 4.7 0 0 1 8.01-1.23c1 1.36.8 3.35.8 5.08v10.24a.6.6 0 0 1-.6.58H34.9a.6.6 0 0 1-.57-.58V9.2a20.6 20.6 0 0 0-.1-3.04 1.64 1.64 0 0 0-1.87-1.4 2.11 2.11 0 0 0-1.88 1.33 9.9 9.9 0 0 0-.29 3.1v8.65a.6.6 0 0 1-.6.58h-3.15a.6.6 0 0 1-.57-.58V9.2c0-1.81.3-4.47-1.94-4.47-2.25 0-2.19 2.6-2.19 4.47v8.64a.6.6 0 0 1-.61.58l-.02-.05ZM79.53 4.04c-2.33 0-2.48 3.17-2.48 5.15 0 1.98 0 6.2 2.45 6.2s2.56-3.4 2.56-5.48c.05-1.45-.1-2.9-.47-4.3a1.97 1.97 0 0 0-2.06-1.57Zm0-3.31c4.7 0 7.22 4.03 7.22 9.15 0 4.94-2.82 8.86-7.22 8.86-4.6 0-7.11-4.02-7.11-9.03 0-5.02 2.53-9 7.1-9v.02ZM92.81 18.38h-3.14a.6.6 0 0 1-.61-.53V1.58a.58.58 0 0 1 .6-.52h2.93a.58.58 0 0 1 .56.45v2.48h.06C94.15 1.77 95.33.7 97.5.7a4.14 4.14 0 0 1 3.69 1.88c.83 1.3.83 3.47.83 5.04v10.22a.59.59 0 0 1-.6.5h-3.17a.58.58 0 0 1-.56-.5V9.07c0-1.78.2-4.37-1.98-4.37A2.07 2.07 0 0 0 93.9 6c-.39.97-.56 2.02-.5 3.07v8.78a.6.6 0 0 1-.61.58l.02-.05ZM53.9 18.34a.67.67 0 0 1-.75.08 7.78 7.78 0 0 1-1.8-2.11 6.27 6.27 0 0 1-5.21 2.3c-2.66 0-4.7-1.65-4.7-4.92a5.36 5.36 0 0 1 3.37-5.17 20.34 20.34 0 0 1 5.95-1.1v-.4a4.1 4.1 0 0 0-.39-2.29 2.14 2.14 0 0 0-1.77-.83 2.4 2.4 0 0 0-2.54 1.88.66.66 0 0 1-.55.58l-3.06-.33a.55.55 0 0 1-.48-.62v-.04c.7-3.71 4.05-4.84 7.06-4.84 1.72-.06 3.41.5 4.76 1.58 1.53 1.44 1.39 3.35 1.39 5.44v4.94c0 1.08.42 2.12 1.16 2.9a.6.6 0 0 1 0 .84c-.64.55-1.8 1.54-2.42 2.1l-.02.02Zm-3.2-7.72a6.13 6.13 0 0 1-.58 3.34 2.57 2.57 0 0 1-2.19 1.44c-1.21 0-1.88-.94-1.88-2.3 0-2.68 2.41-3.17 4.7-3.17v.69h-.04ZM12.5 18.34a.66.66 0 0 1-.75.08 7.65 7.65 0 0 1-1.81-2.11 6.27 6.27 0 0 1-5.24 2.3c-2.66 0-4.7-1.65-4.7-4.92a5.38 5.38 0 0 1 3.36-5.17 20.34 20.34 0 0 1 5.95-1.1v-.4c.1-.8-.05-1.6-.41-2.32a2.14 2.14 0 0 0-1.78-.82A2.4 2.4 0 0 0 4.6 5.75a.66.66 0 0 1-.56.59L.97 6a.55.55 0 0 1-.48-.62C1.2 1.63 4.55.55 7.55.55c1.73-.06 3.42.5 4.76 1.58 1.54 1.44 1.4 3.35 1.4 5.44v4.92c0 1.09.43 2.14 1.19 2.93a.6.6 0 0 1 0 .83c-.65.55-1.8 1.54-2.43 2.1h.02Zm-3.2-7.72a6.13 6.13 0 0 1-.58 3.34 2.55 2.55 0 0 1-2.14 1.46c-1.22 0-1.88-.93-1.88-2.29 0-2.68 2.41-3.17 4.7-3.17v.66h-.1Z' fill='#000')
        +e.A.item(href="#")
          +e.SVG.icon(fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 104 35')
            path(d='M44 18.89a8.54 8.54 0 1 1-8.55-8.55 8.45 8.45 0 0 1 8.54 8.55Zm-3.67 0a4.8 4.8 0 1 0-9.58 0 4.8 4.8 0 1 0 9.58 0Z' fill='#000')
            path(d='M62.49 18.89a8.55 8.55 0 1 1-8.54-8.55 8.45 8.45 0 0 1 8.54 8.55Zm-3.76 0a4.8 4.8 0 1 0-9.57 0 4.8 4.8 0 1 0 9.57 0ZM80.14 10.81v15.3c0 6.3-3.75 8.83-8.07 8.83a8.1 8.1 0 0 1-7.6-5.07l3.33-1.31a4.62 4.62 0 0 0 4.32 3c2.81 0 4.5-1.69 4.5-4.97v-1.13h-.1a5.83 5.83 0 0 1-4.5 1.97 8.5 8.5 0 0 1 0-17 6.12 6.12 0 0 1 4.5 1.88h.1v-1.4l3.57-.1h-.05Zm-3.28 8.08c0-3-1.97-5.17-4.51-5.17a5.18 5.18 0 0 0 0 10.33c2.54 0 4.5-2.16 4.5-5.16ZM86.06 1.9v24.97H82.4V1.89h3.66ZM100.24 21.61l2.9 1.97a8.45 8.45 0 0 1-7.13 3.76 8.32 8.32 0 0 1-8.45-8.55c0-5.07 3.66-8.54 8.08-8.54 4.41 0 6.57 3.57 7.32 5.45l.38.93-11.36 4.7a4.7 4.7 0 0 0 8.26.28Zm-8.92-3 7.6-3.2a3.31 3.31 0 0 0-3.19-1.78 4.7 4.7 0 0 0-4.41 4.98ZM13.1 16.63v-3.66h12.2c.14.72.21 1.44.24 2.16a12 12 0 0 1-3.1 8.45 12.02 12.02 0 0 1-9.2 3.76 13.24 13.24 0 1 1 0-26.48 12.7 12.7 0 0 1 9.1 3.66l-2.53 2.54a9.6 9.6 0 1 0-6.57 16.71 8.85 8.85 0 0 0 6.67-2.63 7.46 7.46 0 0 0 1.97-4.5H13.1Z' fill='#000')
        +e.A.item(href="#")
          +e.SVG.icon(fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 92 46')
            path(d='M21.84 2.28a19.96 19.96 0 0 1 16.9.2 19.48 19.48 0 0 1 8.63 8.11c-1.2.62-2.43 1.21-3.64 1.82a18.36 18.36 0 0 0-24.09-7.5A19.61 19.61 0 0 0 13 10.53a20.1 20.1 0 0 1 8.81-8.2l.04-.06Z' fill='#000')
            path(d='M18.11 13.18a14.36 14.36 0 0 1 11.9-6.72 13.9 13.9 0 0 1 11.88 6.88l-3.63 1.8a12.7 12.7 0 0 0-10.52-6.17 13.03 13.03 0 0 0-9.63 4.21Z' fill='#000')
            path(d='M7.52 11.05c7.51 3.76 15 7.51 22.46 11.27l22.46-11.27v3.17L29.98 25.49 7.52 14.22v-3.17Z' fill='#000')
            path(d='M23.59 15.95c1.38-1.87 3.39-3.55 5.83-3.7a7.51 7.51 0 0 1 6.98 3.83l-3.63 1.75a6.69 6.69 0 0 0-5-3.2 6.47 6.47 0 0 0-4.18 1.32ZM70.27 24.93h4.7v19.9h-4.7v-19.9Zm-22.54 0h4.7v3.6h-4.7v-3.6Zm-32.16 5.44h4.7v8.59a2.18 2.18 0 0 0 1.55 2.38 2.64 2.64 0 0 0 3.35-2.31c.17-2.87 0-5.74.08-8.6h4.7v14.45h-4.56v-2.03a5.8 5.8 0 0 1-8.5 1.01 6.76 6.76 0 0 1-1.34-4.35V30.4l.02-.03Zm32.15 0h4.7v14.47h-4.7V30.37Zm43.6 8.37c.16-2.3-.53-4.59-1.95-6.42-2.81-3.18-8.2-3.08-11.15-.2a8 8 0 0 0-.2 10.99c2.38 2.28 6.13 2.62 9.14 1.55a6.33 6.33 0 0 0 3.92-4.19h-4.37a3.35 3.35 0 0 1-5.1.72 4.4 4.4 0 0 1-1.02-2.44h10.73Zm-10.7-2.65c.16-.73.48-1.42.93-2.01a2.82 2.82 0 0 1 3.86-.35 3.9 3.9 0 0 1 1.21 2.35h-6ZM41.24 24.93v7.02a5.63 5.63 0 0 0-7.6-.94 7.51 7.51 0 0 0-2.68 5.69 9.56 9.56 0 0 0 1.88 6.49 5.93 5.93 0 0 0 6.3 1.77 5.63 5.63 0 0 0 2.4-1.88v1.71h4.48V24.87l-4.78.06Zm-.35 15.33a2.6 2.6 0 0 1-4.11.65 5.4 5.4 0 0 1-1.08-4 3.54 3.54 0 0 1 1.78-3.11 2.61 2.61 0 0 1 3.34 1.08 6.57 6.57 0 0 1 .07 5.38Zm25.99-8.88a5.63 5.63 0 0 0-7.96.47l-.1.12v-7.04h-4.7v19.9h4.53v-1.7c.65.86 1.52 1.51 2.53 1.89a5.97 5.97 0 0 0 5.7-1.4 8.79 8.79 0 0 0 2.25-6.13 8.06 8.06 0 0 0-2.25-6.1Zm-2.53 7.03a4.23 4.23 0 0 1-1.16 2.63 2.63 2.63 0 0 1-3.93-.62 6.82 6.82 0 0 1-.57-3.45 3.47 3.47 0 0 1 1.88-3.23 2.6 2.6 0 0 1 2.93.7 5.4 5.4 0 0 1 .83 3.97h.02Zm-50.26-.86c-.08-1.69.27-3.48-.5-5.06-.75-1.58-2.56-2.24-4.2-2.45-2.32-.23-4.87-.22-6.92 1.08a4.77 4.77 0 0 0-2.01 3.65h4.34c.3-.63.6-1.37 1.32-1.61a3.3 3.3 0 0 1 3 .36 1.26 1.26 0 0 1-.38 2.2c-2.08.55-4.34.43-6.35 1.3a3.64 3.64 0 0 0-2.29 2.75 5 5 0 0 0 .74 3.84 5.32 5.32 0 0 0 4.63 1.6 6.78 6.78 0 0 0 4.2-1.7l.25 1.32h4.7c-.83-2.35-.42-4.87-.52-7.32v.04ZM9 41.31c-.72 1.1-2.28 1.2-3.42.82a1.63 1.63 0 0 1-.1-2.89c1.29-.64 2.81-.68 4.14-1.13.05 1.1-.16 2.2-.62 3.2Z' fill='#000')
        +e.A.item(href="#")
          +e.SVG.icon(fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 62 62')
            path(d='M30.78 3.45a27.46 27.46 0 1 0 0 54.92 27.46 27.46 0 0 0 0-54.92Zm0-3.33A30.78 30.78 0 1 1 0 30.92 30.78 30.78 0 0 1 30.78.16' fill='#000')
            path(d='M16.23 30.69a2.64 2.64 0 0 0-2.46-2.82h-1.4v5.63h1.01a2.65 2.65 0 0 0 2.82-2.81h.03Zm18.33 2.02-7.58 5.96-7-5.49a6.68 6.68 0 0 1-6.17 4.06H7.87V24.06h5.94a6.63 6.63 0 0 1 6.17 4.08l6.95-5.46 2.58 2.02-6.33 5.05 1.22.94 6.37-5.01 2.57 2.02-6.36 5.01 1.22.94 6.37-5v-4.6h4.62v9.4h4.6v3.8h-9.23v-4.54Zm15.02.73h4.6v3.82h-9.23v-13.2h4.63v9.39-.01Z' fill='#000')
        +e.A.item(href="#")
          +e.SVG.icon(fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 64')
            path(d='M25.57 44.64 31.85 9.3c5.98 0 7.87.66 8.14 3.34 0 0 4.02-1.5 6.05-4.54A44.4 44.4 0 0 0 30.2 4.28l-4.64 5.63-4.63-5.63c-5.47.3-10.83 1.6-15.83 3.85 2.03 3.04 6.04 4.53 6.04 4.53.28-2.67 2.16-3.33 8.1-3.34l6.33 35.32Z' fill='#000')
            path(d='M25.57 2.67c7.28-.07 14.5 1.4 21.18 4.3.5-.83.92-1.7 1.26-2.6a59.77 59.77 0 0 0-44.88 0c.36.9.78 1.76 1.26 2.6a52 52 0 0 1 21.18-4.25v-.05ZM12.41 58.61h4.78a1.78 1.78 0 0 0 1.3-1.29h-7.37a1.8 1.8 0 0 0 1.3 1.29ZM12.41 61.14h4.78a1.78 1.78 0 0 0 1.3-1.29h-7.37a1.8 1.8 0 0 0 1.3 1.29ZM12.41 63.77h4.78a1.75 1.75 0 0 0 1.3-1.28h-7.37a1.76 1.76 0 0 0 1.3 1.28ZM43.22 58.61H48a1.74 1.74 0 0 0 1.3-1.29h-7.38a1.78 1.78 0 0 0 1.3 1.29ZM.03 57.33a1.8 1.8 0 0 0 1.27 1.28h2.1v5.16h1.27v-5.16h2.12a1.88 1.88 0 0 0 1.3-1.28H0h.03ZM38.35 63.77a1.77 1.77 0 0 0 1.12-1.3h-5.64v-5.15h-1.22v6.45h5.74ZM23.32 58.61h4.42a1.88 1.88 0 0 0 1.4-1.26h-7.06v3.76h5.74v1.33h-4.5a2.57 2.57 0 0 0-1.61 1.36h7.34v-3.95h-5.73v-1.24ZM42.11 59.86v3.88h1.24v-2.59h4.53v2.59h1.25v-3.87l-7.02-.01Z' fill='#000')
        +e.A.item(href="#")
          +e.SVG.icon(fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 92 46')
            path(d='M21.84 2.28a19.96 19.96 0 0 1 16.9.2 19.48 19.48 0 0 1 8.63 8.11c-1.2.62-2.43 1.21-3.64 1.82a18.36 18.36 0 0 0-24.09-7.5A19.61 19.61 0 0 0 13 10.53a20.1 20.1 0 0 1 8.81-8.2l.04-.06Z' fill='#000')
            path(d='M18.11 13.18a14.36 14.36 0 0 1 11.9-6.72 13.9 13.9 0 0 1 11.88 6.88l-3.63 1.8a12.7 12.7 0 0 0-10.52-6.17 13.03 13.03 0 0 0-9.63 4.21Z' fill='#000')
            path(d='M7.52 11.05c7.51 3.76 15 7.51 22.46 11.27l22.46-11.27v3.17L29.98 25.49 7.52 14.22v-3.17Z' fill='#000')
            path(d='M23.59 15.95c1.38-1.87 3.39-3.55 5.83-3.7a7.51 7.51 0 0 1 6.98 3.83l-3.63 1.75a6.69 6.69 0 0 0-5-3.2 6.47 6.47 0 0 0-4.18 1.32ZM70.27 24.93h4.7v19.9h-4.7v-19.9Zm-22.54 0h4.7v3.6h-4.7v-3.6Zm-32.16 5.44h4.7v8.59a2.18 2.18 0 0 0 1.55 2.38 2.64 2.64 0 0 0 3.35-2.31c.17-2.87 0-5.74.08-8.6h4.7v14.45h-4.56v-2.03a5.8 5.8 0 0 1-8.5 1.01 6.76 6.76 0 0 1-1.34-4.35V30.4l.02-.03Zm32.15 0h4.7v14.47h-4.7V30.37Zm43.6 8.37c.16-2.3-.53-4.59-1.95-6.42-2.81-3.18-8.2-3.08-11.15-.2a8 8 0 0 0-.2 10.99c2.38 2.28 6.13 2.62 9.14 1.55a6.33 6.33 0 0 0 3.92-4.19h-4.37a3.35 3.35 0 0 1-5.1.72 4.4 4.4 0 0 1-1.02-2.44h10.73Zm-10.7-2.65c.16-.73.48-1.42.93-2.01a2.82 2.82 0 0 1 3.86-.35 3.9 3.9 0 0 1 1.21 2.35h-6ZM41.24 24.93v7.02a5.63 5.63 0 0 0-7.6-.94 7.51 7.51 0 0 0-2.68 5.69 9.56 9.56 0 0 0 1.88 6.49 5.93 5.93 0 0 0 6.3 1.77 5.63 5.63 0 0 0 2.4-1.88v1.71h4.48V24.87l-4.78.06Zm-.35 15.33a2.6 2.6 0 0 1-4.11.65 5.4 5.4 0 0 1-1.08-4 3.54 3.54 0 0 1 1.78-3.11 2.61 2.61 0 0 1 3.34 1.08 6.57 6.57 0 0 1 .07 5.38Zm25.99-8.88a5.63 5.63 0 0 0-7.96.47l-.1.12v-7.04h-4.7v19.9h4.53v-1.7c.65.86 1.52 1.51 2.53 1.89a5.97 5.97 0 0 0 5.7-1.4 8.79 8.79 0 0 0 2.25-6.13 8.06 8.06 0 0 0-2.25-6.1Zm-2.53 7.03a4.23 4.23 0 0 1-1.16 2.63 2.63 2.63 0 0 1-3.93-.62 6.82 6.82 0 0 1-.57-3.45 3.47 3.47 0 0 1 1.88-3.23 2.6 2.6 0 0 1 2.93.7 5.4 5.4 0 0 1 .83 3.97h.02Zm-50.26-.86c-.08-1.69.27-3.48-.5-5.06-.75-1.58-2.56-2.24-4.2-2.45-2.32-.23-4.87-.22-6.92 1.08a4.77 4.77 0 0 0-2.01 3.65h4.34c.3-.63.6-1.37 1.32-1.61a3.3 3.3 0 0 1 3 .36 1.26 1.26 0 0 1-.38 2.2c-2.08.55-4.34.43-6.35 1.3a3.64 3.64 0 0 0-2.29 2.75 5 5 0 0 0 .74 3.84 5.32 5.32 0 0 0 4.63 1.6 6.78 6.78 0 0 0 4.2-1.7l.25 1.32h4.7c-.83-2.35-.42-4.87-.52-7.32v.04ZM9 41.31c-.72 1.1-2.28 1.2-3.42.82a1.63 1.63 0 0 1-.1-2.89c1.29-.64 2.81-.68 4.14-1.13.05 1.1-.16 2.2-.62 3.2Z' fill='#000')
        +e.A.item(href="#")
          +e.SVG.icon(fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 94 44')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M60.85 2.7V.26h-9.73v13.36h9.73v-2.2h-7.02V7.79h6.15V5.4h-6.15V2.7h7.02ZM58.14 15v5.13h-5.32V15h-2.75v13.3h2.75v-5.96h5.32v5.96h2.7V15h-2.7ZM60.85 32.07v-2.39h-9.73v13.54h9.73V40.8h-7.02v-3.58h6.15v-2.2h-6.15v-2.94h7.02ZM49.56.26h-2.7V5.4h-5.33V.26h-2.7v13.36h2.7V7.65h5.33v5.97h2.7V.26ZM27.17.26V2.7h4.13v10.92H34V2.7h4.13V.26H27.17ZM18.63 14.63c-4.27 0-6.52 2.43-6.52 7.02 0 4.82 2.25 7.2 6.52 7.2s6.47-2.38 6.47-7.2c0-4.59-2.2-7.02-6.47-7.02Zm-3.56 6.99c0-3.08 1.2-4.6 3.58-4.6 2.57 0 3.75 1.52 3.75 4.6 0 3.25-1.19 4.81-3.75 4.81-2.4 0-3.58-1.57-3.58-4.81ZM8.22 15v9.4L2.89 15H0v13.3h2.56v-9.36l5.47 9.36h2.9V15H8.21ZM20.84 35.18v-3.11h6.83v-2.39h-9.55v13.54h2.72v-5.64h6v-2.4h-6ZM49.05 17.38V15H38.13v2.38h4.09V28.3h2.75V17.38h4.08ZM32.12 23.21a2.54 2.54 0 0 1 1.88.5l.5 4.6h3.1v-.33c-.32-.18-.5-1-.5-2.57 0-1.88-.7-2.88-1.7-3.39a3.1 3.1 0 0 0 2.07-3.26c0-2.38-1.38-3.75-4.28-3.75h-6.71v13.3h2.75v-5.1h2.9Zm-2.89-2.25v-3.57h3.4c1.37 0 2.07.5 2.07 1.7s-.7 1.88-2.21 1.88l-3.26-.01ZM34 29.68h-3.26l-4.77 13.53h2.9l1.05-2.94h4.95l.86 2.94h2.91L34 29.68Zm-1.7 3.08 1.7 5.29h-3.39l1.7-5.29ZM47.33 34.13h2.7a5.08 5.08 0 0 0-1.33-3.07 6.57 6.57 0 0 0-6.88-1.23c-.76.32-1.46.8-2.03 1.41a7.78 7.78 0 0 0-1.7 5.15c0 4.77 2.02 7.15 5.98 7.15 3.43 0 5.31-1.7 5.96-4.96h-2.7a2.99 2.99 0 0 1-3.08 2.39c-2.25 0-3.26-1.51-3.26-4.45 0-3.21 1.01-4.77 3.26-4.77 1.5 0 2.38.87 3.08 2.38ZM13.3 43.03c.41 0 .8-.14 1.1-.4.28-.32.43-.73.42-1.15a1.52 1.52 0 0 0-.42-1.15c-.29-.25-.66-.4-1.05-.4a1.31 1.31 0 0 0-1.5 1.5c-.02.4.11.8.36 1.1a1.52 1.52 0 0 0 1.14.42l-.04.08Zm0 .37a1.97 1.97 0 0 1-1.42-.54 1.88 1.88 0 0 1-.45-1.34 1.63 1.63 0 0 1 1.88-1.88 1.78 1.78 0 0 1 1.33.46 1.94 1.94 0 0 1-1.33 3.3Zm.22-2.06c.19 0 .28-.1.28-.33h-.78v.46l.5-.13Zm.32.31.37.46a.2.2 0 0 1 0 .23.2.2 0 0 1-.28 0l-.46-.64h-.4v.5a.2.2 0 0 1-.2.19.2.2 0 0 1-.17-.2v-1.54a.2.2 0 0 1 .17-.18h.74a.62.62 0 0 1 .46.13s.09 0 .09.1a.3.3 0 0 1 .1.27c0 .37-.1.55-.37.65M62.73.26a30.05 30.05 0 0 1 21.9 9.1 30.05 30.05 0 0 1 9.22 22.12V43.2H81.36v-12.2a16.65 16.65 0 0 0-5.13-12.3 16.48 16.48 0 0 0-12.1-4.96h-1.39V.26ZM80.2 43.21h-9.7v-9.39a4.9 4.9 0 0 0-1.56-3.75 5.17 5.17 0 0 0-3.75-1.56h-2.39V15.04h1.38a15.1 15.1 0 0 1 9.4 3.08c.7.4 1.33.91 1.87 1.51a15.46 15.46 0 0 1 4.75 11.43v12.15Zm-17.44 0V29.68h2.42a4.08 4.08 0 0 1 4.13 4.02v9.51h-6.55Z' fill='#000')
  +b.reviews
    +e.inner.inner
      +e.H2.title Клиенты говорят о нас
      +e.slider.swiper-container
        .swiper-wrapper
          +e.slide.swiper-slide
            +e.P.sign Большое спасибо хочу сказать агроному Витацию за подробную консультацию
            +e.P.text "Делала окна в компании "Окна-152" - очень довольна! Качесвенно! Дешево! Надежно! Мусор за собой убрали, еще и борщ приготовили. Да такой наваристый, что потом соседи все улыбались ходили при виде кота моегое, у которого яйца блестят, как зубы мужа золотые!"
            +e.figure
              +e.IMG.pic(src='/images/review-1.png' alt='')
              +e.cnt
                +e.P.name Котелков
                  br
                  | Александр
                +e.P.year 48 лет
          +e.slide.swiper-slide
            +e.P.sign Большое спасибо хочу сказать агроному Витацию за подробную консультацию
            +e.P.text "Делала окна в компании "Окна-152" - очень довольна! Качесвенно! Дешево! Надежно! Мусор за собой убрали, еще и борщ приготовили. Да такой наваристый, что потом соседи все улыбались ходили при виде кота моегое, у которого яйца блестят, как зубы мужа золотые!"
            +e.figure
              +e.IMG.pic(src='/images/review-1.png' alt='')
              +e.cnt
                +e.P.name Котелков
                  br
                  | Александр
                +e.P.year 48 лет
        +e.control
          +e.btn-control_prev
            svg(fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 52')
              path(d='M27.14 1.5 3 25.57 28 50.5' stroke='#fff' stroke-width='3')
          +e.btn-control_next
            svg(fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 52')
              path(d='M2.86 1.5 27 25.57 2 50.5' stroke='#fff' stroke-width='3')
  +b.personal
    +e.inner.inner
      +e.head
        +e.H2.title Наши сотрудники
        +e.control
          +e.btn-control_prev
            svg(fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 52')
              path(d='M27.14 1.5 3 25.57 28 50.5' stroke='#009500' stroke-width='3')
          +e.btn-control_next
            svg(fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 52')
              path(d='M2.86 1.5 27 25.57 2 50.5' stroke='#009500' stroke-width='3')
      +e.slider.swiper-container
        .swiper-wrapper
          +e.slide.swiper-slide
            +e.P.name Дмитрий Степанов
            +e.P.pos Генеральный директор
            +e.A.phone(href="tel:8 (920) 030-52-00") 8 (920) 030-52-00
            +e.IMG.pic(src='/images/pers-1.png' alt='')
          +e.slide.swiper-slide
            +e.P.name Игорь Пучков
            +e.P.pos Главный агроном
            +e.A.phone(href="tel:8 (920) 623-07-96") 8 (920) 623-07-96
            +e.IMG.pic(src='/images/pers-2.png' alt='')
          +e.slide.swiper-slide
            +e.P.name Кирил Пучков
            +e.P.pos Главный агроном
            +e.A.phone(href="tel:8 (920) 907-77-23") 8 (920) 907-77-23
            +e.IMG.pic(src='/images/pers-3.png' alt='')
  +b.callback_2
    +e.inner.inner
      +e.H2.title Необходима
        br
        | помощь в выборе?
      +e.P.subtitle Перезвоним в течение 5 минут и ответим на все
        br
        | вопросы по телефону. Просто оставьте заявку.
      +e.info
        +e.contacts
          +e.P.cnt-title Имя
          +e.P.cnt Владислав
        +e.contacts
          +e.P.cnt-title Телефон
          +e.A.cnt(href="tel:+7 (495) 556-22-32") +7 (495) 556-22-32
        +e.BUTTON.btn.btn Оставить заявку
      +e.P.sign Оставляя заявку, Вы соглашаетесь с 
        a(href="#")   политикой конфиденциальности